:root {

}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

a {
  color: currentColor;
  text-decoration: none;
}

a:visited {
  color: currentColor;
}

a[href^="https"] {
  text-decoration: "underline";
  font-weight: bold;
}

main {
  min-height: 80vh;
}

body {
  background-color: #222;
  color: #ccc;
  font-family: Futura, sans-serif;
  font-size: x-large;
  padding: 3px;
}

/* Background color transitions */
body {
  transition: background-color 0.5s ease;
}

/* Prevent zooming on tap */
body {
  touch-action: manipulation;
}

input, button {
  border: none;
  outline: none;
  -webkit-appearance: none;
  font-size: 24px;
  border-radius: 6px;
}

form input, form button {
  display: inline-block;
}

form button {
  width: 3rem;
  height: 3rem;
  padding: 0;
}

button {
  padding: 0.5rem 2rem;
  background-color: #ccc;
  font-weight: bold;
}

form input {
  color: white;
  background-color: transparent;
  text-align: center;
  width: 7rem;
}

form {
  margin: 0.5rem 0;
}

#install {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0.5rem;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  line-height: 0;
  background-color: #ccc;
  color: #222;
  font-weight: bold;
}

#install:after {
  content: "i";
  font-style: italic;
}

@media all and (display-mode: standalone) {
  #install {
    display: none;
  }
}
